@{
    ViewData["Title"] = "Order History";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["StoreNum"]</h3>

<p>Use this area to provide additional information.</p>
@foreach (var order in (IEnumerable<PizzaPlanet.Library.Order>)ViewData["Orders"])
{
    <p>
    @order.Details()
    </p>
}