
@{
    ViewData["Title"] = PizzaPlanet.Web.Controllers.UserController.user.Name;
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="Logout">
    <button type="submit" value="Logout" class="btn btn-default" >Logout</button>
</form>
